body {
  font-family: Arial,Helvetica,sans-serif;
  background:  #F8F8F8;
  font-size: 12pt;
}

a, a:visited {
  color:            #4078c0;
  text-decoration:  none;
}

a:hover, a:active {
  cursor: pointer;
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}

@media print
{
  .nav-print {
    display: none !important;
    width: 0px !important;
  }
}